.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(148, 148, 148) 100.00%);
}
.home-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: fit-content;
  bottom: 0px;
  height: fit-content;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #949494;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: rgba(255, 255, 255);
}
.home-text {
  color: rgb(148, 148, 148);
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  font-family: monospace;
  margin-bottom: var(--dl-space-space-unit);
}
.home-link {
  display: contents;
}
.home-image {
  width: var(--dl-size-size-xlarge);
  box-shadow: 5px 5px 10px 0px #949494;
  object-fit: cover;
  transition: 0.3s;
  margin-left: var(--dl-space-space-fourunits);
  border-color: #949494;
  border-width: thin;
  margin-right: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-image:hover {
  box-shadow: 5px 5px 10px 0px rgba(148, 148, 148, 0);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
}
.home-link01 {
  display: contents;
}
.home-icon {
  fill: #949494;
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-link02 {
  color: #949494;
  align-self: center;
  transition: 0.3s;
  font-family: monospace;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link02:hover {
  text-decoration: underline;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
}
.home-link03 {
  display: contents;
}
.home-icon02 {
  fill: #949494;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-link04 {
  color: #949494;
  align-self: center;
  transition: 0.3s;
  font-family: monospace;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link04:hover {
  text-decoration: underline;
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
}
.home-link05 {
  display: contents;
}
.home-icon04 {
  fill: #949494;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-link06 {
  color: #949494;
  align-self: center;
  transition: 0.3s;
  font-family: monospace;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06:hover {
  text-decoration: underline;
}
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
}
.home-link07 {
  display: contents;
}
.home-icon06 {
  fill: #949494;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-link08 {
  color: #949494;
  align-self: center;
  transition: 0.3s;
  font-family: monospace;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link08:hover {
  text-decoration: underline;
}
.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-link09 {
  display: contents;
}
.home-icon08 {
  fill: #949494;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.home-link10 {
  color: rgb(148, 148, 148);
  align-self: center;
  transition: 0.3s;
  font-family: monospace;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link10:hover {
  text-decoration: underline;
}
.home-link11 {
  left: 0px;
  color: #ffffff;
  bottom: 0px;
  position: absolute;
  transition: 0.3s;
  font-family: monospace;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link11:hover {
  text-decoration: underline;
}
.home-link12 {
  color: rgb(255, 255, 255);
  right: 0px;
  bottom: 0px;
  position: absolute;
  transition: 0.3s;
  font-family: monospace;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link12:hover {
  text-decoration: underline;
}
